.messagesConsole {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.apiFunction {
    margin: 10px;
}

#roomId {
    border: red 4px solid;
}

#messagesListDiv {
    background-color: black;
    color: green;
    margin: 10px;
    min-height: 400px;
    padding: 10px;
}

.chatRow {
    vertical-align: top;
}


#messagesList {
    background-color: black;
    color: green;
    margin: 10px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#messagesList-test {
    background-color: black;
    color: green;
    margin: 10px;
    min-height: 400px;
    padding: 10px;
}

.chatTd {
    color: green;
    vertical-align: top;
}
