.messagesConsole {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.apiFunction {
    margin: 10px;
}

#roomId {
    border: red 4px solid;
}

#messagesListDiv {
    background-color: black;
    color: green;
    margin: 10px;
    min-height: 400px;
    padding: 10px;
}

.chatRow {
    vertical-align: top;
}

.roomRow {
    vertical-align: top;
}

#messagesList {
    background-color: black;
    color: green;
    margin: 10px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chatTd {
    color: green;
    vertical-align: top;
}

#roomList {
    min-width: 25%;
    background-color: #1d4cb3;
    margin: 10px;
    padding: 10px;
}

#roomListTable {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.roomRow {
    color: white;
    vertical-align: top;
}

.selectedRoom{
    background-color: black;
}

.myInput {
    width: 400px;
}